html,
body {
    height:100%;
}

#wrapper {
    width: 1170px;
    margin: 0 auto;
    min-height:100%;
    position:relative;
}

article header h2 {
    margin-bottom: 0;
    padding-bottom: 3px;
}

article header {
    border-bottom: 1px solid #888888;
    margin-bottom: 10px;
}

article.post:not(:first-child) {
    margin-top: 50px;
}

article.post p {
    font-family: "Linux Libertine";
    font-weight: 400;
    font-size: 1.375em;
    line-height: 1.2em;
}

article.post p code {
    background-color: #dbdbdb;
    padding: 0.1em 0.2em;
}

article.post .categories,
article.post .tags {
    font-size: 1em;
}

h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

.page-content {
    padding-bottom: 83px;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #337ab7;
    color: #fff;
    margin-top: 2.5em;
    padding: 1em 1em;
    border-radius:  15px 15px 0 0;
}


@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
}
